@import url(minireset.css);

html, body {
    width: 100%;
    height: auto;
}

/* header, container, footer 크기 설정 */
#header {
	height: 50px;
	background: #ddd;
	width: auto;
}
#container {
	height: 100vh;
	width: auto;
}
#footer {
	height: 50px;
	background: #ddd;
}
